<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h1>Login</h1>


<form th:action="@{/login}" method="post">
    <input type="text" name="username" placeholder="Username or Email" required/>
    <input type="password" name="password" placeholder="Password" required/>
    <button type="submit">Login</button>
</form>


<p th:if="${error}" style="color:red;">Invalid username or password</p>


<p th:if="${param.logout}" style="color:green;">You have been logged out successfully</p>

</body>
</html>
